<div class="sidebar">
  <div class="page-container sidebar-sticky">
    {% assign about = site.baseurl | append: "/" %}
    <div class="sidebar-about">
      <img class="sidebar-img center" src="{{ '/assets/img/profile.jpeg' | relative_url }}" alt="Nanda H Krishna">
      <h1>
        <a href="{{ about }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="sidebar-text">{{ site.description }}</p>
    </div>

    <label id="collapsible-nav-label" onclick="showNav()"><i class="fas fa-chevron-down"></i></label>
    <div class="collapsible-nav-items">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item{% if page.url == about %} active{% endif %}"><a href="{{ about }}">About</a></li>

        {% assign pages_list = site.data.sidebar %}
        {% for node in pages_list %}
            <li class="sidebar-nav-item{% if page.title == node.title %} active{% endif %}"><a href="{{ node.url }}">{{ node.title }}</a></li>
        {% endfor %}
      </ul>

      <p class="sidebar-foot">&copy; {{ site.time | date: "%Y" }}</p>
    </div>
  </div>
</div>
