* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
    background-color: #eeeeee;
    color: #333333;
    transition: background-color 1s;
}

a {
    color: #3366cc;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.fa-ul {
    margin-left: 1.5em;
}

.chevron-ul {
    margin-left: 1em;

    .fa-li {
        width: 1.5em;
        left: -1.5em;
    }
}

.skill-ul {
    margin-left: 1.375em;

    .fa-li {
        width: 1.75em;
        left: -1.75em;
    }
}

.section {
    max-width: 70em;
    margin: auto;
    padding-top: 2rem
}

.title {
    font-size: 1.5rem;
}

.name {
    margin-bottom: 2em;
}

.authors {
    color: #4a4a4a;
}

.conference-title {
    margin-top: 0.25em;
}

.bio {
    margin-top: 2em;
    margin-bottom: 2em;
}

.film-strip {
    --s: 12px;
    --c: #2220;

    background: 
      conic-gradient(at var(--s), var(--c) 75%,#eeeeee 0) 
      0 0/calc(100% - var(--s)) calc(2*var(--s)) padding-box;
    border: var(--s) solid var(--c);
    padding: 0 18px;
}

.gallery {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    height: 420px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.gallery-wrap {
    position: relative;

    .gallery-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 500;
        color: #f7f7f7;
        opacity: 0;
        visibility: hidden;
        transition-property: visibility opacity;
        transition-duration: 0.5s;
    }

    .gallery-image {
        display: block;
        transition-property: filter;
        transition-duration: 0.5s;
    }

    &:not(:last-child) .gallery-image {
        padding-bottom: 8px;
    }
}

.is-hidden-small-screen {
    visibility: visible;
}

@media screen and (max-width: 420px) {
    .is-hidden-small-screen {
        visibility: hidden;
    }

    .gallery {
        height: 320px;
    }
}

@media screen and (max-width: 768px) and (min-width: 421px) {
    .film-strip {
        --s: 12px;
        --c: #2220;
    
        background: 
          conic-gradient(at 50% var(--s), var(--c) 75%,#eeeeee 0) 
          0 0/calc(2*var(--s)) calc(100% - var(--s)) padding-box;
        border: var(--s) solid var(--c);
        padding: 0;
        height: 300px;
        width: calc(2 * 12px + 4 * 324px + 320px + 4 * 4.2px);
    }

    .gallery {
        height: 300px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }

    .gallery-wrap {
        display: inline-block;

        .gallery-image {
            padding-top: 18px;
            padding-left: 0;
            height: 264px;
        }

        .gallery-caption {
            top: calc(50% + 0.5 * 18px - 0.5 * 6px);
            left: calc(50% - 0.5 * 4px);
        }

        &:not(:last-child) .gallery-image {
            padding-right: 4px;
            padding-bottom: 6px;
        }

        &:last-child {
            .gallery-image {
                padding-right: 0;
                padding-bottom: 6px;
            }

            .gallery-caption {
                left: 50%;
            }
        }
    }
}

.gallery-wrap:hover {
    .gallery-image {
        filter: brightness(0.4);
    }

    .gallery-caption {
        opacity: 1;
        visibility: visible;
    }
}

.tagp {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.tag.is-rounded {
    border-radius: 4px !important;
    margin-left: 0.2em !important;
}

.tag-button {
    border-width: 0em;
    border-color: rgba(170, 170, 170, 0.525);
    border-style: solid;
}

.ghost-button {
    border: none;
}

.is-size-55 {
    font-size: 1.15rem;
}

.is-size-66 {
    font-size: 1.65rem;
}

.padded-block {
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.nowrap {
    white-space: nowrap;
}

.button-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.subtitle-no-margin {
    margin-bottom: 12px !important;
}

#reset {
    display: none;
}

.top-padding {
    margin-top: 0.5rem;
}

.tile-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: inherit;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.modal-card {
    width: 100%;
    max-width: 50em;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.modal-card-head {
    background-color: rgba(0, 0, 0, 0.3);
    ;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.modal-card-foot {
    padding: 0px;
}

.modal-card-title {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.3rem;
    font-weight: 600;
    color: white;
}

.teach-section {
    display: flex;
    flex-direction: row;
}

.teach-description {
    padding-right: .8em;
    flex: 80%;
}

.wrapper {
    position: relative;
}

.target-div {
    position: relative;
    z-index: 1;
}

p {
    margin: 0;
}

.no-wrap {
    white-space: nowrap;
}

.entry {
    background-color: transparent;
    border-radius: 6px;
    padding: 20px;
    margin-right: 0.6em;
    margin-left: 0.6em;
    margin-bottom: 1rem !important;
    border: 1px solid rgba(0, 0, 0, 0.05);
    /* border-left: 0px;
    border-right: 0px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    /* backdrop-filter: blur(6px); */
    /* -webkit-backdrop-filter: blur(6px); */
}

.highlighter {
    background-color: transparent;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* background-color: rgba(76, 176, 239, 0.187); */
    /* border: 1px solid rgba(0, 0, 0, 1); */
}

.year {
    background-color: transparent;
    border: 0px;
    margin-bottom: 0rem !important;
    box-shadow: none;
    font-family: 'Outfit', sans-serif;
    padding-right: 15px;
    text-align: right;
    padding-top: 4px;
}


img {
    border-radius: 4px
}

hr {
    /* border: none; */
    height: 1px;
    background-color: rgba(192, 192, 192, 1);
    margin-top: 12px;
    margin-bottom: 6px;
}

.rotate {
    transform: rotate(180deg);
}

.fa-chevron-down {
    transition: transform 0.3s ease-in-out;
}

.tile.is-child {
    padding: 1em;
    border-radius: 0.5em;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0.7em !important;
    margin-bottom: 0.7em !important;
    margin-right: 0.7em !important;
    margin-left: 0.7em !important;
    z-index: 10;
}

.tile.is-only-child {
    padding: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0.7em !important;
    margin-bottom: 0.7em !important;
    margin-left: 0.7em !important;
    margin-right: 0.7em !important;
    z-index: 110;
}


#my-picture {
    border-radius: 50%;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
    .is-flex-mobile {
        flex-direction: column !important;
    }

    .is-flex-mobile .media-left {
        margin-right: 0;
        margin-bottom: 1em;
    }
}

.navbar-container {
    margin: 0.4em;
    position: relative;
    background-color: #d7d7d7;
    transform: translateX(0px);
    font-size: 24px;
    font-weight: 500;
    padding: 14px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-start,
.navbar-end {
    align-items: stretch;
    display: flex;
}

.navbar-start {
    justify-content: flex-start;
    margin-right: auto;
}

.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
}

.navbar-item {
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    margin: 0px 6px 0px 6px;
    padding: 24px 16px;
    transition: background-color 0.3s ease 0s;
    color: #333333;
}

a.nav {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

a.nav:hover {
    color: #3366cc;
    text-decoration: none;
    cursor: pointer;
}

.navbar-highlight {
    width: fit-content;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    z-index: -1;
    color: rgb(50, 50, 50);
}

a.nav.navbar-highlight {
    color: #3366cc;
}

@media (max-width: 850px) {
    .navbar-container {
        row-gap: 6px;
    }

    .navbar-start {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        align-self: center;
        align-items: center;
        align-content: center;
        row-gap: 6px;

        .navbar-item {
            width: 100%;
            margin: 0px;
            padding: 20px 12px;
            align-self: center;
            align-items: center;
            align-content: center;
            text-align: center;
            justify-content: center;
            justify-items: center;
            justify-self: center;
        }
    }

    .navbar-end {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px;
        align-self: center;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        justify-items: center;
        justify-self: center;
        column-gap: 6px;
        row-gap: 6px;

        .navbar-item {
            width: auto;
            flex-grow: 1;
            padding: 20px 12px;
            margin: 0px;
            align-self: center;
            align-items: center;
            align-content: center;
            text-align: center;
            justify-content: center;
            justify-items: center;
            justify-self: center;
        }
    }
}

// .navbar-item {
//     transition: left 1s ease-out;
// }

.tile.is-child.centered-icon {
    background-color: white;
    /* or any specific pastel blue you prefer */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile.is-child.centered-icon-jukeguesser {
    background-color: white;
    /* or any specific pastel blue you prefer */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 2em;
    /* Adjust based on your preference */
    color: rgba(74, 74, 74, 0.8);
    color: rgb(70, 70, 70);
}

.icon-text {
    font-size: 1.4em;
    /* Adjust based on your preference */
    color: rgba(74, 74, 74, 0.8);
    /* color:rgb(72, 95, 199); */
    font-weight: 500;
}

/* Style for the container holding the scrollable content */
.scrollable-container {
    position: relative;
    /* height: 240px; Adjust this height according to your needs */
    overflow: hidden;
}

/* Style for the scrollable content */
.scrollable-content {
    width: 100%;
    height: 100%;
    padding-right: 12px;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* Hide the default scrollbar */

    p:not(:last-child) {
        padding-bottom: 0.5em;
    }
}

/* Style for the custom scrollbar */
.scrollable-content::-webkit-scrollbar {
    width: 8px;
    /* Adjust the width of the scrollbar */
}

/* Style for the custom scrollbar track */
.scrollable-content::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    /* Adjust the background color of the track */
    border-radius: 20px;
}

/* Style for the custom scrollbar thumb (slider) */
.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    /* Adjust the color of the thumb (slider) */
    border-radius: 20px;
    /* Add some rounded corners for a nicer appearance */
}

/* Style for the custom scrollbar thumb when hovered */
.scrollable-content::-webkit-scrollbar-thumb:hover {
    background-color: #666;
    /* Adjust the color of the thumb (slider) on hover */
}
